.container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
    /* Aligns items on both ends */
    align-items: center;
}

.login-button {
    margin-left: auto;
    /* Pushes the button to the right */
}


.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

mat-form-field:first-child {
    flex: 3;
    /* URL field is three times larger than the alias field */
    margin-right: 10px;
    /* Adds some space between the fields */
}

mat-form-field:last-child {
    flex: 1;
    /* Alias field */
    margin-right: 10px;
    /* Adds some space between the field and the button */
}

.url-container {
    margin-bottom: 10px;
}

.shortenedUrl {
    display: block;
    margin-bottom: 5px;
}

.copy-button {
    text-align: center;
}

.tiny-url-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; /* Adds space above the new section */
}

.tiny-url-container mat-form-field {
    flex: 3;
    margin-right: 10px;
}

.tiny-url-container button {
    flex: 1;
    margin-left: 5px; /* Space between buttons */
}

.additional-card {
    margin-top: 10px;
}