<ng-container *ngIf="user$ | async as userInfo">
    <mat-toolbar color="primary">
        <span>URL Shortener</span>
        <ng-container *ngIf="userInfo.userName; else loginTemplate">
            <span class="login-button">{{ userInfo.userName }}</span>
        </ng-container>

        <ng-template #loginTemplate>
            <button mat-button class="login-button" (click)="login()">Login</button>
        </ng-template>
    </mat-toolbar>

    <form [formGroup]="urlEntryFormGroup" (ngSubmit)="onSubmit()">
        <div class="container">
            <div class="form-container">
                <mat-form-field appearance="fill">
                    <mat-label for="url">Enter your URL here</mat-label>
                    <input matInput formControlName="url" placeholder="https://example.com">
                    <mat-error *ngIf="urlEntryFormGroup.get('url')?.errors?.['invalidUrl']">
                        Please enter a valid URL
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label for="alias">Custom Alias</mat-label>
                    <input matInput formControlName="alias" placeholder="my-custom-alias">
                    <mat-error *ngIf="urlEntryFormGroup.get('alias')?.errors?.['invalidAlias']">
                        Please enter a valid alias
                    </mat-error>
                </mat-form-field>

                <button mat-button matSuffix aria-label="Shorten URL" (click)="onSubmit()">
                    <mat-icon>send</mat-icon>
                </button>
            </div>

            <mat-card>
                <mat-card-content>
                    <p>Your Shortened URL:</p>
                    <div class="url-container">
                        <span class="shortenedUrl">https://tiny.url/abc123</span>
                    </div>
                    <div class="copy-button">
                        <button mat-button (click)="copyToClipboard()">
                            Copy to Clipboard
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </form>