<ng-container *ngIf="viewData$ | async as viewData">
    <mat-toolbar color="primary">
        <span>URL Shortener</span>
        <ng-container *ngIf="viewData.user.userName; else loginTemplate">
            <span class="login-button">{{ viewData.user.userName }}</span>
        </ng-container>

        <ng-template #loginTemplate>
            <button mat-button class="login-button" (click)="login()">Login</button>
        </ng-template>
    </mat-toolbar>

    <form [formGroup]="urlEntryFormGroup" (ngSubmit)="onSubmit()">
        <div class="container">
            <div class="form-container">
                <mat-form-field appearance="fill">
                    <mat-label for="url">Enter your URL here</mat-label>
                    <input matInput formControlName="url" placeholder="https://example.com">
                    <mat-error *ngIf="urlEntryFormGroup.get('url')?.errors?.['invalidUrl']">
                        Please enter a valid URL
                    </mat-error>
                    <mat-error *ngIf="tinyUrlAlreadyExists">
                        Tiny URL already exists
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label for="alias">Custom Alias</mat-label>
                    <input matInput formControlName="alias" placeholder="enter alias ">
                    <mat-error *ngIf="urlEntryFormGroup.get('alias')?.errors?.['invalidAlias']">
                        Please enter a valid alias
                    </mat-error>
                </mat-form-field>
                <mat-error *ngIf="tinyUrlAlreadyExists">
                    url already exists
                </mat-error>

                <button mat-button aria-label="Shorten URL" [disabled]="urlEntryFormGroup.invalid">
                    <mat-icon>send</mat-icon>
                </button>

            </div>

            <mat-card>
                <mat-card-content>
                    <p>Your Shortened URL:</p>
                    <div class="url-container">
                        <span class="shortenedUrl">{{viewData?.currentTinyUrlMap?.tinyUrl}}</span>
                    </div>
                    <div *ngIf="currentTinyUrl" class="copy-button">
                        <button type="button" mat-raised-button (click)="copyToClipboard()">
                            Copy to Clipboard
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>

            <div class="tiny-url-container">
                <mat-form-field appearance="fill">
                    <mat-label for="tinyUrl">Enter TinyURL</mat-label>
                    <input matInput formControlName="tinyUrl" placeholder="https://tinyurl/xyz...">
                </mat-form-field>

                <button type="button" mat-raised-button color="primary" aria-label="Go" (click)="goToUrl()">
                    Go To True Url
                </button>
                <ng-container *ngIf="viewData.user.userName">
                    <button type="button" mat-raised-button color="primary" aria-label="Delete"
                        (click)="deleteTinyUrl()">
                        Delete
                    </button>
                </ng-container>
            </div>
            <div *ngIf="viewData.currentTinyUrlMap && viewData.currentTinyUrlMap.clickCount >= 0">
                <mat-card class="additional-card">
                    <mat-card-content>
                        <p>Number of 'clicks': {{viewData.currentTinyUrlMap.clickCount}}</p>
                        <p>Long Url is: {{viewData.currentTinyUrlMap.url}}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </form>