.container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-button {
    margin-left: auto;
}


.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

mat-form-field:first-child {
    flex: 3;
    margin-right: 10px;
}

mat-form-field:last-child {
    flex: 1;
    margin-right: 10px;
}

.url-container {
    margin-bottom: 10px;
}

.shortenedUrl {
    display: block;
    margin-bottom: 5px;
}

.copy-button {
    text-align: center;
}

.tiny-url-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.tiny-url-container mat-form-field {
    flex: 3;
    margin-right: 10px;
}

.tiny-url-container button {
    flex: 1;
    margin-left: 5px;
}

.additional-card {
    margin-top: 10px;
}